<!DOCTYPE html>
<!--
    Dojo Mobile tutorial | Flickrview | Part I
-->
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title> Adicnet mobile </title>
    <!-- application stylesheet will go here -->
    <!-- dynamically apply native visual theme according to the browser user agent -->
    <!-- D:\projectsWebs\adimobile\inventario\static\js\dojo-release-1.10.4\dojo -->
    {% load staticfiles %}
     <script src="{% static "js/dojo-release-1.11.2/dojox/mobile/deviceTheme.js" %}"></script>
    <!-- dojo configuration options -->
    <script>
        dojoConfig = {
            async: true,
            parseOnLoad: false
        };
    </script>
    <!-- dojo bootstrap -->
     <script type="text/javascript" src="{% static "js/dojo-release-1.11.2/dojo/dojo.js" %}" djConfig="parseOnLoad: false"></script>
    <!-- dojo application code -->
    <script>
        require([
            "dojo/on",
            "dojo/dom",
            'dojo/_base/xhr',
            "dojo/parser",
            "dojo/domReady!"
        ], function (on,dom,xhr,parser) {

            var save = dom.byId("doneButton");
            var codigo = dom.byId("cnm");
            var nombre = dom.byId("nomem");
            var tipoDeCodigo = dom.byId("tipcod");
            var fadeTarget = dom.byId("general");

            on(save, "click", function(evt){

                dojo.xhr.get({
                                // The URL of the request
                                //data:{'id':id},
                                url: 'guardar_articulo/',
                                //type: 'get',

                                content: {
                                    co: codigo.value,
                                    no: nombre.value
                                    },
                                // The success callback with result from server
                                load: function(newContent) {
                                    if(newContent=='{"respuesta": "si"}'){
                                        alert("Guardado correctamente");
                                        codigo.value="";
                                        nombre.value="";
                                       
                                     }else{
                                        alert("Este articulo ya existe");
                                        codigo.value="";
                                        nombre.value="";
                                     }
                                     
                                    //dom.byId("contentNode").innerHTML = newContent;
                                },
                                // The error handler
                                error: function() {
                                    // Do nothing -- keep old content there
                                }
                });

            });
            // now parse the page for widgets
            parser.parse();
        });
    </script>
</head>

<body style="visibility:hidden;">
    <!-- the view or "page"; select it as the "home" screen -->
    <div id="settingx" data-dojo-type="dojox/mobile/View" data-dojo-props="selected:true">
        <!-- a sample heading -->
        <h1 data-dojo-type="dojox/mobile/Heading">Inicio</h1>
        <!-- a rounded rectangle list container -->
        <ul data-dojo-type="dojox/mobile/RoundRectList">
            <!-- list item with an icon containing a switch -->
            <li data-dojo-type="dojox/mobile/ListItem"
              data-dojo-props="icon: '{% static "images/icon-1.png" %}' , moveTo:'listcata' " >Catalogo de articulos
            <!-- the switch -->       
            </li>
            <!-- list item with an icon that slides this view away and then loads another page -->
            <li data-dojo-type="dojox/mobile/ListItem"
              data-dojo-props="icon:'{% static "images/icon-2.png" %}', moveTo:'general' ">Actualizacion de articulos
            </li>
            <!-- list item with an icon that slides to a view called "general" -->
            <li data-dojo-type="dojox/mobile/ListItem"
            data-dojo-props="icon:'{% static "images/icon-3.png" %}' , moveTo:'general'">Nuevo articulo</li>
        </ul>
    </div>
    <!-- The "General" sub-page -->
    <div id="general" data-dojo-type="dojox/mobile/View">
        <!-- a sample heading -->
         <h1 id="header" data-dojo-type="dojox/mobile/Heading" data-dojo-props="back:'Inicio', moveTo:'settingx'">
             <span id="doneButton" data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-props="label:'Done', moveTo:'feed', transition:'none'" style="float:right;"></span>

            Nuevo articulo</h1>
            <div data-dojo-type="dojox/mobile/RoundRect">
    <div data-dojo-type="dojox/mobile/FormLayout" data-dojo-props="columns:'two'">
        <div>
            <label for="cnm">Codigo</label>
            <fieldset>
                <input type="text" id="cnm" data-dojo-type="dojox/mobile/TextBox"
                       data-dojo-props="value:''">
            </fieldset>
        </div>
        <div>
            <label for="nomem">Nombre</label>
            <fieldset>
                <input type="text" id="nomem" data-dojo-type="dojox/mobile/TextBox"
                       data-dojo-props="value:''">
            </fieldset>
        </div>
        
    </div>
    </div>
    </div>
<!--
<div id="listcata" data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="selected: true">
<div id="feedHeading"
     data-dojo-type="dojox/mobile/Heading"
     data-dojo-props="fixed: 'top', label: 'Lista de articulos'">
            <span data-dojo-type="dojox/mobile/ToolBarButton"
                  data-dojo-props=" icon:'{% static "images/settings.png" %}', moveTo:'settingx', transitionDir:'-1', transition:'none' "
                  style="float:left;"></span>
            <span id="refreshButton" data-dojo-type="dojox/mobile/ToolBarButton"
                  data-dojo-props="icon: '{% static "images/refresh.png" %}'"
                  style="float:right;"></span>
</div>
{% for c in r %} 
<div id="feedList" data-dojo-type="dojox/mobile/EdgeToEdgeList">
     
    <div data-dojo-type="dojox/mobile/ListItem"
         data-dojo-props="moveTo:'details', transition:'slide'" class="photoListItem">
        <img src='{% static "images/mockup/photo2.png" %}' width="80px" height="80px" alt="Title" style="float:left;"/>
        <div class="photoSummary">
            <div class="photoTitle">{{ r.nombre }}</div>
            <div class="publishedTime" data-dojo-time="2013-12-13">published date here</div>
            <div class="author">author here</div>
        </div>
        <div class="summaryClear"></div>
    </div>
   
</div>
  {% endfor %} 

</div>
-->

<!-- Feed view -->
<div id="listcata" data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="selected: true">
<div id="feedHeading"
     data-dojo-type="dojox/mobile/Heading"
     data-dojo-props="fixed: 'top', label: 'Feeds'">
            <span data-dojo-type="dojox/mobile/ToolBarButton"
                  data-dojo-props=" icon:'{% static "images/settings.png" %}', moveTo:'settingx', transitionDir:'-1', transition:'none' "
                  style="float:left;"></span>
            <span id="refreshButton" data-dojo-type="dojox/mobile/ToolBarButton"
                  data-dojo-props="icon: '{% static "images/refresh.png" %}'"
                  style="float:right;"></span>
</div>
<div id="feedList" data-dojo-type="dojox/mobile/EdgeToEdgeList">
{% for c in r %} 
    <div data-dojo-type="dojox/mobile/ListItem"
         data-dojo-props="moveTo:'details', transition:'slide'" class="photoListItem">
        <img src='{% static "images/mockup/photo2.png" %}' width="80px" height="80px" alt="Title" style="float:left;"/>
        <div class="photoSummary">
            <div class="photoTitle">Photo title here</div>
            <div class="publishedTime" data-dojo-time="2013-12-13">published date here</div>
            <div class="author">author here</div>
        </div>
        <div class="summaryClear"></div>
    </div>
    <div data-dojo-type="dojox/mobile/ListItem"
         data-dojo-props="moveTo:'details', transition:'slide'" class="photoListItem">
        <img src='{% static "images/mockup/photo2.png" %}' width="80px" height="80px" alt="Title" style="float:left;"/>
        <div class="photoSummary">
            <div class="photoTitle">Another photo title here</div>
            <div class="publishedTime" data-dojo-time="2013-12-13">published date here</div>
            <div class="author">author here</div>
        </div>
        <div class="summaryClear"></div>
    </div>
    {% endfor %} 

</div>
</div>


<!--  And let's add another view "About" barlobento alfrente de la bodega de icopr , lavadero de carro por ese callejon-->
    
</body>
</html>